.card-page-container{
    /* background-color: #F6F6F6; */
    
    height: 100%;
    padding: 100px 10%; 
}

.card-container{
    margin: 0 auto;
    max-width: 1000px;
    background-color: white;
    border-radius: 10px;
    padding: 20px

}


@media only screen and (max-width: 600px) {
    .card-page-container{
        padding: 0px 0%;
        
    }
    .card-container{
        height: 100%;
    
    }
  }