.top-buttons-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.form-container{
    width: 100%;
}

.form-title{
    margin: 15px 0px 0px 0px;
}

.form-section{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-top: 15px;
}

.form-item{
    flex: 1;
    padding: 0px 5px;
}

.form-zipandcity{
    flex: 1;
    padding: 0px 5px;
    display: flex;
}

.form-zip-container{
    padding-right: 10px;
}

.form-item-zip{
    width: 100px;
}

.width100{
    width: 100%
}

.form-alert{
    margin-top: 30px;
}

.form-button-container{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 800px) {
    .form-section{
        flex-direction: column;
        padding-top: 0px;
    }
    .form-item{
        padding-top: 15px;
    }

    .form-zip-container{
        padding: 15px 10px 0px 0px;
    }

    .form-city-container{
        padding: 15px 0px 0px 0px;
    }
}

  @media only screen and (max-width: 600px) {
    .form-zipandcity{
        flex-direction: column;
    }

    .form-zip-container{
        padding-right: 0px;
    }

}
